:root{
    --second-bg:#dbdbdb;
    --input-border:#E5E7EB;
    --submit:#596D48;
    --padding-left-in-main:5%;
}

body{
    margin:0;
    padding:0;
    display:flex;
    height:100vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p{
    margin:0;
}

.side-hero{
    flex:1;
    background-image: url(/img/side-image.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    color:white;
    overflow: hidden;
    position:relative;
}

.logo-container{
    height:8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    margin-top:30vh;
    padding:1rem;
}

img{
    height:100%;
    display:inline;
}

.logo-text{
    display:inline;
    font-family:norse-bold;
    font-size:120px;
}

.image-author{
    position:absolute;
    bottom:1rem;
    right:0;
    left:0;
    text-align:center;
}

.content{
    flex:2;
    display: flex;
    flex-direction: column;
}

.content > *{
    flex:1 1 33%;
}

.about-service{
    box-sizing: border-box;
    background-color: var(--second-bg);
    padding: 150px 30% 50px var(--padding-left-in-main);
}

p{
    color:black;
    font-size:1.7rem;
    font-weight:500;
    margin-bottom:20px;
}

.registration-form{
    box-shadow: 0 7px 7px rgb(197, 197, 197);
    padding-left:var(--padding-left-in-main);
    padding-right: 30%;
}

.inputs-container{
    height: 70%;
    display:flex;
    flex-wrap: wrap;
}

.inputs-container > div{
    flex: 1 0 50%;
}

input{
    width: 80%;
    height: 3rem;
    padding: 0 0.5rem;
    margin: 0;
    border:#E5E7EB 1px solid;
    border-radius: 0.2rem;
    font-family: inherit;
    font-weight: 300;
    font-size: 1.2rem;
    box-sizing: border-box;
}

input:user-invalid{
    border-color:red;
}

input:focus{
    outline:none;
    border-color: blue;
}

label{
    display:block;
}

@font-face{
    font-family:norse-bold;
    src:url(/fonts/Norse-Bold.otf);
}